<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Здесь могла бы быть статья про Вас, но сегодня про диван!</p>
    <p>Дива́н — мягкое мебельное изделие со спинкой, предназначенное для сидения нескольких человек.
    Может входить в набор мебели для отдыха в комплекте с другими изделиями, например с креслами, 
    подставками для ног (пуфиками), журнальным столом и др.</p>
</body>
</html>